@tailwind base;
@tailwind components;
@tailwind utilities;

#cta {
  background-image: url('../images/bg-boost-desktop.svg');
  background-repaet: no-repeat;
  background-size: cover;
}

.ficon:hover {
  filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg)
    brightness(89%) contrast(85%);
}
